### Vamos a crear un script que me suba de forma automática los datos

In [15]:
import pandas as pd
import mysql.connector as maria

In [16]:
dataframe = pd.read_excel('datos/datos_proveedores.xlsx',sheet_name='Alimentacion',skiprows=1)

In [17]:
dataframe.head(15)

,N°,Id Articulo,Descripción,SubCategoria,Nombre Categoria,Id Proveedor,Nombre Proveedor,Moneda,Precio,Monto/Cantidad Minima,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,UDLA_ALMUERZO_0001,"Almuerzo 1 pechuga pavo o pollo,mix ensaladas,...",S030805,Servicios de comida y bebida para empleados,76961994-1,CAMASI SPA,CLP,4500,35000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,UDLA_ALMUERZO_0002,"Almuerzo 2 pechuga pavo o pollo,mix ensaladas,...",S030805,Servicios de comida y bebida para empleados,76961994-1,CAMASI SPA,CLP,5500,35000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,UDLA_ALMUERZO_0003,"Almuerzo 3 pechuga pavo o pollo,mix ensaladas,...",S030805,Servicios de comida y bebida para empleados,76961994-1,CAMASI SPA,CLP,6500,35000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,UDLA_ALMUERZO_0004,"Almuerzo 4 carne al jugo,pure rustico o quinoa...",S030805,Servicios de comida y bebida para empleados,76961994-1,CAMASI SPA,CLP,7700,35000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,UDLA_ALMUERZO_0005,Almuerzo 1 plato fondo+consome + ensalada,S030805,Servicios de comida y bebida para empleados,76581678-5,BJ COFFEE BREAK LIMITADA,CLP,3500,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,UDLA_ALMUERZO_0006,Almuerzo 2 plato fondo+consome + ensalada+postre,S030805,Servicios de comida y bebida para empleados,76581678-5,BJ COFFEE BREAK LIMITADA,CLP,4900,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,UDLA_ALMUERZO_0007,Almuerzo 3 Hipocaloricos con pollo a la plancha,S030805,Servicios de comida y bebida para empleados,76581678-5,BJ COFFEE BREAK LIMITADA,CLP,3000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,UDLA_ALMUERZO_0008,Almuerzo 4 Hipocaloricos con pollo a la planch...,S030805,Servicios de comida y bebida para empleados,76581678-5,BJ COFFEE BREAK LIMITADA,CLP,5000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,UDLA_ALMUERZO_0009,Almuerzo 1 PLATO DE FONDO ( Pastas/ Ave y aco...,S030805,Servicios de comida y bebida para empleados,08989042-K,MARITZA PAOLA VIGNOLO PERALTA,CLP,4500,45000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,UDLA_ALMUERZO_0010,Almuerzo 2 PLATO DE FONDO (Pastas/ Ave/vacuno ...,S030805,Servicios de comida y bebida para empleados,08989042-K,MARITZA PAOLA VIGNOLO PERALTA,CLP,5500,55000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,UDLA_ALMUERZO_0011,Almuerzo 3 ENTRADA( Mix de vegetales) PLATO DE...,S030805,Servicios de comida y bebida para empleados,08989042-K,MARITZA PAOLA VIGNOLO PERALTA,CLP,8650,360168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,UDLA_ALMUERZO_0012,Almuerzo 4 ENTRADA( Creps de champiñon o camar...,S030805,Servicios de comida y bebida para empleados,08989042-K,MARITZA PAOLA VIGNOLO PERALTA,CLP,14500,225105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,UDLA_ALMUERZO_0013,"Almuerzo 1 Servicio entregado en doypack , sin...",S030805,Servicios de comida y bebida para empleados,76811111-1,LA OPIPERIA SPA,CLP,6000,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,UDLA_ALMUERZO_0014,"Almuerzo premium 2 Menú compuesto por entrada,...",S030805,Servicios de comida y bebida para empleados,76811111-1,LA OPIPERIA SPA,CLP,25000,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,UDLA_ALMUERZO_0015,Almuerzo 2 Base de lechuga+salmón grillado+ za...,S030805,Servicios de comida y bebida para empleados,13514277-8,SILVANA SOLEDAD BRUZON LERDON,CLP,14500,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
dataframe.describe()

,N°,Precio,Monto/Cantidad Minima,Tiempo de Entrega,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
count,154.000000,154.00000,154.000000,154.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,79.824675,6528.25974,67522.272727,2.980519,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,46.875183,3531.35849,147350.111474,1.420995,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,1050.00000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,39.250000,4025.00000,15.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,80.500000,5695.00000,20.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,119.750000,8500.00000,50000.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,161.000000,25000.00000,900420.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dataframe.columns[:13]

Index(['N°', 'Id Articulo', 'Descripción', 'SubCategoria', 'Nombre Categoria',
       'Id Proveedor', 'Nombre Proveedor', 'Moneda', 'Precio',
       'Monto/Cantidad Minima', 'Tiempo de Entrega', 'Fecha de vencimiento',
       'ZONA'],
      dtype='object')

In [20]:
dataframe.dtypes

N°                    int64
Id Articulo          object
Descripción          object
SubCategoria         object
Nombre Categoria     object
                     ...
Unnamed: 251        float64
Unnamed: 252        float64
Unnamed: 253        float64
Unnamed: 254        float64
Unnamed: 255        float64
Length: 256, dtype: object

In [21]:
conexion = maria.connect(user='dtravisany', password='udla253', host='localhost', database='proveedores', port='33060')

In [22]:
agregar_zona =("INSERT INTO zona ""(id,nombre)"" VALUES (%d,%s)")

In [28]:
id_zona=0;
for i in dataframe['ZONA'].unique():
    id_zona+=1
    print(id_zona,i)

1 Viña
2 Concepcion
3 Santiago
4 Santiago
5 Viña del Mar